<!-- Bootstrap card used to display burgers -->
<div class="card">
	<div class="card-body">
		<p class="card-text">
			#{{dataValues.id}}. {{dataValues.burger_name}}
			{{#unless dataValues.devoured}}
				<form>
					<div class="form-group">
						<label for="customers"></label>
   					 	<select class="form-control" id="customers">
							{{#each customers}}
								<option>{{dataValues.customer_name}}</option>
							{{/each}}
						</select>
					
						<!-- <input type="text" class="form-control" id="customerName" placeholder="Enter your name" aria-label="Customer's name" aria-describedby="basic-addon2"> -->
					</div>
					<button type="submit" class="btn btn-danger devourButton" data-id="{{dataValues.id}}" data-devoured="{{dataValues.devoured}}">Devour!</button>
				</form>
			{{/unless}}
			{{#if dataValues.devoured}}
				<br />This burger was devoured by <strong>{{dataValues.CustomerId}}</strong>
			{{/if}}
		</p>
	</div>
</div>
<br />